<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link">
    <i class="fa fa-arrow-circle-o-left"></i> Back to Stock
    </a>
  </div>
  <div class="col-md-6">

  </div>
</div>

<div class="card">
  <div class="card-header">
    Edit Stock
  </div>
  <div class="card-body">

    <form #stockForm="ngForm" (ngSubmit)="onSubmit(stockForm)">
      <div class="form-group">
        <label for="name">Company Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          #name="ngModel"
          [ngClass]="{'is-invalid': name.errors &&
          name.touched}"
          [(ngModel)]="stock.name"
          minlength="2"
          required
          >
          <div [hidden]="!name.errors?.required" class="invalid-feedback">
              Stock name required
          </div>
          <div [hidden]="!name.errors?.minlength" class="invalid-feedback">
            Must be at least 2 characters
        </div>
      </div>

      <div class="form-group">
        <label for="symbol">Symbol</label>
        <input
          type="text"
          class="form-control"
          name="symbol"
          #symbol="ngModel"
          [ngClass]="{'is-invalid': symbol.errors &&
          symbol.touched}"
          [(ngModel)]="stock.symbol"
          minlength="2"
          required
          >
          <div [hidden]="!symbol.errors?.required" class="invalid-feedback">
              Last name required
          </div>
          <div [hidden]="!symbol.errors?.minlength" class="invalid-feedback">
            Must be at least 2 characters
        </div>
      </div>

        <div class="form-group">
          <label for="numberOfShares">Number of Shares</label>
          <input
            type="number"
            class="form-control"
            [(ngModel)]="stock.numberOfShares"
            name="numberOfShares"
            #numberOfShares="ngModel"
          >
        </div>

        <div class="form-group">
          <label for="purchasePricePerShare">Purchase Price Per Share</label>
          <input
            type="number"
            class="form-control"
            [(ngModel)]="stock.purchasePricePerShare"
            name="purchasePricePerShare"
            #purchasePricePerShare="ngModel"
          >
        </div>

        <input type="submit" value="Submit" class="btn btn-success btn-block">
    </form>
  </div>
</div>

