
<header>
  <nav>
      <div class="row">
          <img src="../../../assets/imgs/fincheez-logo.png" alt="Fincheez logo" class="logo">
          <ul class="main-nav">
              <li><a href="">Stocks</a></li>
              <li><a href="">Portfolio</a></li>
              <li><a href="">Financial News</a></li>
              <li><a href="">Sign Up</a></li>
          </ul>
      </div>
  </nav>
<div class="hero-text-box">
   <h1>Fincheez. A new way to invest.</h1>
   <a class="btn btn-full" href="#">Learn More</a>
   <a class="btn btn-ghost" href="#">Log In</a>
</div>

</header>
